.button3{
position: absolute;
top:350px;
right:615px;
background: red;
padding:6px;
border-radius:4px;
cursor: pointer;
color: white;
}
h1{
    position: absolute;
    top: 100px;
    right: 430px;
    width:500px;
    background:blueviolet;
    padding:6px;
    border-radius:4px;
    cursor: pointer;
    color: white;
  }
  h2{
      position: absolute;
      top:210px;
      right:590px;
      background:green;
      padding:6px;
      border-radius:4px;
      cursor: pointer;
      color: white;
  }

 h3{
    border: 1px solid #9361bf;
    background:blue;
    padding:10px 20px;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    border-radius: 0 4px 0 4px;
    cursor: pointer;
    width: 100px;
    
    margin: 20px 0;
    border-left: 0;
    color: white;
 }

  }
}